@import "./variables.css";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: var(--primary-color);
  transition: height 0.2s ease-out; /* Smooth height transition */
  display: flex;
  padding: 0 2%;
  align-items: center;
  z-index: 100;
}

.header.collapsed {
  height: 0px; /* Adjust the collapsed height as needed */

  & .logo-middle, .logo {
    display: none;
  }
}

.logo {
  font-family: var(--title-font);
  color: var(--bg-color1);
  display: flex;
  cursor: pointer;
  padding-right: 100px;

  .logo-middle {
    width: 30px;
    transition: width 0.25s ease;
    overflow: hidden;
    height: 65px;
    font-size: 16px;
  }
}

.logo.expanded {
  .logo-middle {
    width: 252px;
    :hover {
        color: rgb(133, 192, 177);
    }
  }
}
