@import "./variables.css";
$bg-color1: rgb(41, 64, 70);

.content {
  background-color: var(--bg-color1);
  background: linear-gradient(145deg, var(--bg-color1), rgb(0, 0, 0));
  padding-top: 70px;
  height: 2000px;

  & .hero {
    padding-top: 120px;
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;

    h1 {
      font-size: 5em;
      line-height: 100%;
      color: var(--accent-color);
      margin: 0;
      animation: 1.7s fade-in-drop ease 1;
    }

    p {
      color: var(--primary-color);
      font-size: 1.2em;
    }

    .line1 {
      animation: 3s fade-in-delay ease 1;
      margin-top: 30px;
    }

    .line2 {
      animation: 3s fade-in-delay ease 1;
    }

    .standout {
      color: var(--accent-color);
      font-weight: 700;
      display: inline-block;
      transition: transform 0.2s ease-in-out;
      animation: bounce 0.7s ease 4;
      animation-delay: 5s;
    }

    .hero-left {
      width: 50%;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
    }

    .hero-right {
      display: flex;
      justify-content: center;
      width: 50%;
      padding-top: 0px;
    }

    .hero-pic {
      border-radius: 50%;
      width: 400px;
      height: 400px;
      opacity: 0.6;
      animation: fade-in-pic 3s ease 1;
      transition: border-radius 0.5s ease, opacity 0.5s ease;

      &:hover {
        border-radius: 5%;
        opacity: 0.8;
      }
    }
  }

  .btn-wrapper {
    margin-top: 40px;
  }

  .pop-btn {
    border-radius: 50px;
    padding: 20px 30px;
    cursor: pointer;
    background-color: var(--bg-color1);
    border: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
    font-family: var(--title-font);
    box-shadow: 4px 4px 0 var(--accent-color);
    animation: 3s fade-in-delay ease 1;

    &:hover {
      transform: translate(3px, 3px);
      box-shadow: 1px 1px 0 var(--accent-color);
      background-color: adjust-color($color: $bg-color1, $lightness: 3%);
    }
  }

  hr {
    border-color: gray;
    border-top: none;
    width: 30%;
    margin-top: 120px;
    animation: 3s fade-in-delay ease 1;
  }
}

//-- Media Queries

@media screen and (max-width: 1200px) {
  .content .hero {
    padding-top: 50px;

    .hero-left {
      width: 100%;
      align-items: center;
      text-align: center;
    }

    .hero-right {
      width: 100%;
      margin-top: 20px;
    }

    .btn-wrapper {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .content .hero {

    .hero-pic {
      width: 300px;
      height: 300px;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-5px);
    opacity: 0.7;
  }
}

@keyframes fade-in-drop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-delay {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-delay1 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-pic {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    border-radius: 5%;
  }
  100% {
    opacity: 0.6;
    border-radius: 50%;
  }
}
